body {
  font-family: serif;
  background-color: ivory;
}

.row {
  display: flex;
}

.row * {
  flex: 1;
}

.center-column {
  flex-grow: 4;
  text-align: center;
}

.center-column nav ul li {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

input[type="text"] {
  padding: 5px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.left-column {
  display: inline;
}

.left-column nav ul li {
  display: inline-block;
  margin: 10px;
}

.right-column {
  text-align: right;
  margin-right: 10px;
}

.right-column nav ul {
  display: flex;
  justify-content: flex-end;
}

.right-column nav li {
  display: flex;
}

.hero {
  background-image: url(https://images.unsplash.com/photo-1498898733745-c8c6df58e4ba?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-text {
  display: flex;
  color: white;
  align-items: end;
  text-align: center;
}

.head-new {
  text-align: center;
}

.jewelry-gallary {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.jewelry-gallary .card img {
  width: 100%;
  height: 300px;
}

/* .jewelry-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.jewelry-grid img {
  width: 100%;
  height: auto;
} */

.shop-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.shop-by-category {
  text-align: center;
  color: black;
  padding-top: 20px;
  font-family: system-ui;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 50px 20px auto 20px;
}

.image-container img {
  width: 30%; /* Ensure images fit within their containers */
}

.our-support {
  background-color: whitesmoke;
  height: 300px;
  text-align: center;
}

.support-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card-text {
  margin-top: 20px;
}

.support-text {
  margin-top: 20px;
  font-size: 20px;
  padding-top: 30px;
}

.footer-column nav ul li {
  display: list-item;
  margin: 5px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.follow-icon nav {
  display: inline;
  padding: 20px;
}

.copyright {
  text-align: center;
}

@media (max-width: 600px) {
  .jewelry-gallary {
    display: none;
  }
}
